---
import Layout from '~/layouts/PageLayout.astro';

import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: "Zain Ul Hassan | Dreamers'Lab",
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Blog', href: '#blog' },
      ]}
      actions={[
        {
          text: 'Hire me',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Zain Ul Hassan"
    tagline="🚀 Full Stack Mobile App Developer"
    callToAction={{ targetBlank: true, text: 'Hire me', href: '/' }}
  >
    <Fragment slot="subtitle">
      With over 3 years of hands-on experience and a passion for crafting exceptional mobile experiences, I am your
      go-to mobile app developer. Through a myriad of certifications and a diverse portfolio of projects in Kotlin and
      Flutter, I've honed my skills to bring your app ideas to life, delivering innovation, usability, and excellence.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-github',
        callToAction: {
          targetBlank: true,
          text: 'Github',
          href: 'https://github.com/zainulhassan815',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          targetBlank: true,
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/zain-ul-hassan-1986321a0',
        },
      },
      {
        icon: 'tabler:brand-twitter',
        callToAction: {
          targetBlank: true,
          text: 'Twitter',
          href: 'https://twitter.com/zainulhassan815',
        },
      },
      {
        icon: 'tabler:brand-youtube',
        callToAction: {
          targetBlank: true,
          text: 'YouTube',
          href: 'https://www.youtube.com/@DreamersLab',
        },
      },
      {
        icon: 'tabler:brand-upwork',
        callToAction: {
          targetBlank: true,
          text: 'UpWork',
          href: 'https://www.upwork.com/freelancers/~0141070652aeb1f2af',
        },
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">📝 About me</h3>
      <p>
        As a Mobile App Developer, I have a passion for developing innovative and user-friendly mobile applications.
        With 3+ years of experience in the field, I have crafted my skills in Kotlin and Android development and have a
        strong understanding of the latest development tools and technologies.
      </p>
      <br />
      <p>
        I effectively collaborate with cross-functional teams to achieve project goals. I am a dedicated and hardworking
        individual who is committed to delivering quality work and ensuring customer satisfaction.
      </p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Features2
    title="⚡️ My Development Toolkit"
    subtitle="Transforming Ideas into Apps with Cutting-Edge Technologies"
    columns={3}
    items={[
      {
        title: 'Android SDK',
        description:
          'Software Development Kit that includes a comprehensive set of development tools for native android development.',
        icon: 'logos:android-vertical',
      },
      {
        title: 'Jetpack Compose',
        description: 'Jetpack Compose is Android’s recommended modern toolkit for building native UI.',
        icon: 'jetpack-compose',
      },
      {
        title: 'Android Studio',
        description: 'Official integrated development environment (IDE) designed specifically for Android development.',
        icon: 'skill-icons:androidstudio-light',
      },
      {
        title: 'Kotlin',
        description:
          'Kotlin is a cross-platform, statically typed, general-purpose high-level programming language with type inference.',
        icon: 'logos:kotlin-icon',
      },
      {
        title: 'Flutter',
        description:
          'Flutter transforms the app development process. Build, test, and deploy beautiful mobile, web, desktop, and embedded apps from a single codebase.',
        icon: 'logos:flutter',
      },
      {
        title: 'Dart',
        description: 'Dart is a client-optimized language for fast apps on any platform.',
        icon: 'logos:dart',
      },
      {
        title: 'VS Code',
        description:
          'A code editor redefined and optimized for building and debugging modern web and cloud applications.',
        icon: 'logos:visual-studio-code',
      },
      {
        title: 'Firebase',
        description:
          'A set of backend cloud computing services and application development platforms provided by Google.',
        icon: 'logos:firebase',
      },
      {
        title: 'Supabase',
        description:
          'Supabase is an open source Firebase alternative that provides Postgres database, Authentication, instant APIs, Edge Functions, Realtime subscriptions, Storage, and Vector embeddings.',
        icon: 'logos:supabase-icon',
      },
      {
        title: 'Git',
        description:
          'Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.',
        icon: 'logos:git-icon',
      },
      {
        title: 'GitHub',
        description:
          'A cloud-based service for software development and version control using Git, allowing developers to store and manage their code.',
        icon: 'logos:github-icon',
      },
      {
        title: 'NodeJs',
        description:
          'A back-end JavaScript runtime environment, runs on the V8 JavaScript engine, and executes JavaScript code outside a web browser.',
        icon: 'logos:nodejs-icon',
      },
      {
        title: 'TypeScript',
        description:
          'A strongly typed programming language that builds on JavaScript, giving you better tooling at any scale.',
        icon: 'logos:typescript-icon',
      },
      {
        title: 'Fastify',
        description:
          'A web framework highly focused on providing the best developer experience with the least overhead and a powerful plugin architecture.',
        icon: 'logos:fastify-icon',
      },
      {
        title: 'Prisma',
        description:
          'A server-side library that helps developers read and write data to the database in an intuitive, efficient and safe way.',
        icon: 'logos:prisma',
      },
      {
        title: 'PostgreSQL',
        description:
          'A free and open-source relational database management system emphasizing extensibility and SQL compliance.',
        icon: 'logos:postgresql',
      },
      {
        title: 'Figma',
        description: 'The leading collaborative design tool for building meaningful products.',
        icon: 'logos:figma',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="🗃️ Project Showcase"
    subtitle="Bringing Ideas to Life, One Creative Project at a Time"
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Developed a comprehensive brand identity for a tech startup, Tech Innovators, specializing in disruptive innovations. The goal was to convey a modern yet approachable image that resonated with both corporate clients and tech enthusiasts.',
      },
      {
        title: 'Role:',
        description:
          'Led the entire branding process from concept to execution. Created a dynamic logo that symbolized innovation, selected a vibrant color palette, and I designed corporate stationery, website graphics, and social media assets.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      targetBlank: true,
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">Brand identity for tech innovators</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Designed a captivating event poster for an art and music festival, "ArtWave Fusion," aiming to showcase the synergy between visual art and music genres.',
      },
      {
        title: 'Role:',
        description: `Translated the festival's creative theme into a visually striking poster. Used bold typography, vibrant colors, and abstract elements to depict the fusion of art and music. Ensured the design captured the festival's vibrant atmosphere.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      targetBlank: true,
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Event poster for art & music festival</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
      },
      {
        title: 'Role:',
        description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      targetBlank: true,
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="💬 Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `Very much dedicated and passionate seller. Did it in time. Much more than I expected.`,
        name: 'aknistudios',
        job: 'Nepal',
        image: {
          src: '~/assets/images/aknistudios.webp',
          alt: 'aknistudios Image',
        },
      },
      {
        testimonial: `Thanks so much! You were an excellent seller. Creative, polite and a fantastic communicator. Thank you again, and I look forward to working with you more!`,
        name: 'erikos68',
        job: 'Sweden',
        image: {
          src: '~/assets/images/erikos68.svg',
          alt: 'erikos68 Image',
        },
      },
      {
        testimonial: `I like his work. Easy to work with. I really recommend this guy.`,
        name: 'amjadadel',
        job: 'United Kingdom',
        image: {
          src: '~/assets/images/amjadadel.jpg',
          alt: 'amjadadel Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Elevate Your Mobile Experience"
    subtitle="Welcome to the world of limitless possibilities in mobile app development. We turn your ideas into seamless, user-friendly apps that captivate, engage, and transform."
    callToAction={{
      text: 'Hire me',
      href: '/',
    }}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts id="blog" title="Explore my insightful articles on my blog">
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
